@import "tailwindcss";
@import "tw-animate-css";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */
/* @custom-variant dark (&:is(.dark *)); */

:root {
  --radius: 0.625rem;

  --lobster: "Lobster Two", cursive;
  --open-sans: "Open Sans", sans-serif;
  --playfair-display: "Playfair Display", serif;
  --inter: "Inter", sans-serif;
  --nunito: "Nunito", sans-serif;

  --background: oklch(97.5% 0.005 90);
  --foreground: oklch(8% 0.01 140);

  --card: oklch(94.5% 0.01 90);
  --card-foreground: oklch(8% 0.01 140);

  --popover: oklch(94.5% 0.01 90);
  --popover-foreground: oklch(8% 0.01 140);

  --primary: oklch(75% 0.065 88);
  --primary-foreground: oklch(15% 0.015 140);

  --secondary: oklch(45% 0.12 45);
  --secondary-foreground: oklch(95% 0.008 84.1);

  --accent: oklch(90.1% 0.076 70.697);
  --accent-foreground: oklch(15% 0.015 140);

  --vibrant: oklch(78% 0.2 95); /* Slightly darker vibrant */
  --vibrant-foreground: oklch(15% 0.015 140);

  --muted: oklch(0.35 0.025 140);
  --muted-foreground: oklch(65% 0.04 85);

  --deep-accent: oklch(25% 0.05 47.9); /* Lighter deep accent */
  --deep-accent-foreground: oklch(95% 0.008 90);

  --border: oklch(82% 0.02 80); /* Darker border */
  --input: oklch(82% 0.02 80);
  --ring: oklch(72% 0.18 70); /* match darker accent */

  --destructive: oklch(55% 0.22 30); /* rich red-brown */
  --success: oklch(72% 0.18 150); /* olive green */

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(94.5% 0.01 90); /* #E7E8E2 */
  --sidebar-foreground: oklch(8% 0.01 140);
  --sidebar-primary: oklch(29.8% 0.17 41.5); /* #521A03 */
  --sidebar-primary-foreground: oklch(98% 0.005 84.1);
  --sidebar-accent: oklch(87% 0.04 80);
  --sidebar-accent-foreground: oklch(14% 0.063 47.9);
  --sidebar-border: oklch(70% 0.04 70);
  --sidebar-ring: oklch(29.8% 0.17 41.5);
}

@theme inline {
  --font-lobster: var(--lobster);
  --font-open-sans: var(--open-sans);
  --font-playfair-display: var(--playfair-display);
  --font-inter: var(--inter);
  --font-nunito: var(--nunito);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(8% 0.01 140); /* #131512 */
  --foreground: oklch(94.5% 0.01 90); /* #E7E8E2 */

  --card: oklch(0.1858 0.01 140);
  --card-foreground: oklch(94.5% 0.01 90);

  --popover: oklch(12% 0.01 140);
  --popover-foreground: oklch(94.5% 0.01 90);

  /* --primary: oklch(78% 0.21 70);
  --primary-foreground: oklch(8% 0.01 140); */

  --primary: oklch(75% 0.065 88);
  --primary-foreground: oklch(15% 0.015 140);

  --secondary: oklch(40% 0.08 50);
  --secondary-foreground: oklch(94.5% 0.01 90);

  --muted: oklch(60% 0.03 80);
  --muted-foreground: oklch(45% 0.03 85);

  --accent: oklch(14% 0.063 47.9); /* #381B03 */
  --accent-foreground: oklch(94.5% 0.01 90);

  --vibrant: oklch(82% 0.23 95); /* #E4B01F */
  --vibrant-foreground: oklch(8% 0.01 140);

  --destructive: oklch(70.4% 0.191 22.216);

  --border: oklch(29% 0.03 140);
  --input: oklch(29% 0.035 140);
  --ring: oklch(78% 0.21 70);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(12% 0.01 140);
  --sidebar-foreground: oklch(94.5% 0.01 90);
  --sidebar-primary: oklch(78% 0.21 70);
  --sidebar-primary-foreground: oklch(8% 0.01 140);
  --sidebar-accent: oklch(15% 0.02 140);
  --sidebar-accent-foreground: oklch(94.5% 0.01 90);
  --sidebar-border: oklch(20% 0.03 140);
  --sidebar-ring: oklch(78% 0.21 70);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair-display font-bold tracking-tight text-primary;
  }

  div,
  p,
  span {
    @apply font-inter text-muted text-sm;
  }
}

@layer utilities {
  .text-gradient-1 {
    @apply bg-gradient-to-l from-primary to-secondary bg-clip-text text-transparent;
  }
  .bg-gradient-1 {
    @apply bg-gradient-to-l from-primary to-secondary;
  }
  .text-gradient-2 {
    @apply bg-gradient-to-l from-primary to-secondary bg-clip-text text-transparent;
  }
  .bg-gradient-2 {
    @apply bg-gradient-to-r from-rose-500 to-orange-500 hover:from-rose-600 hover:to-orange-600 text-white rounded-full px-4 py-2 text-xs font-medium shadow-lg hover:shadow-xl transition-all duration-700 ease-in-out;
  }
  .neo-shadow {
    box-shadow: 20px 20px 60px #56030350, -20px -20px 60px #c79e5827;
  }
  .shadow-neo {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

h1 {
  font-size: 2.75rem; /* ~44px */
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2.25rem; /* ~36px */
  letter-spacing: -0.01em;
}

h3 {
  font-size: 1.75rem; /* ~28px */
}

h4 {
  font-size: 1.5rem; /* ~24px */
}

h5 {
  font-size: 1.25rem; /* ~20px */
}

h6 {
  font-size: 1rem; /* ~16px */
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666;
}

.bg1 {
  background-image: url("./assets/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: contain;
  height: min(100vh, 35rem);
}
.contactbg {
  background-image: url("./assets/contactbg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
